h3 {
  color: #192938;
}

body {
  background: rgb(237, 236, 235);
  font-family: sans-serif;
  color: #777777;
}

hr {
  border-top: 1px solid #cccccc;
}

.dashboard_area {
  background-color: #ffffff00;
  border: 1px solid #dddddd00;
  margin: 2% 10% 2% 10%;
  padding: 20px 0 50px 0;
}

.main_area {
  margin: 2% 10% 2% 10%;
  padding: 20px 0 20px 0;
}

.big {
	font-size: 1.9em;
	font-weight: bold;
  color: #192938;
}

.title {
  font-weight: bold;
  background-image: linear-gradient(45deg, #f11993, #f4bf1f);
  background-clip: text;
  color: transparent;
}

.subtitle {
  font-size: 2.5em;
  color: #192938;
}

p {
  font-size: 1.2em;
}

.ready {
  color: #32cd32;
}

.marked {
  color: #192938;
}